<!doctype html>
<!--[if (gt IE 9)|!(IE)]><!-->
  <html class="no-js" lang="{{ request.locale.iso_code }}">
<!--<![endif]-->

  <head>
    

    <!-- Blockshop Theme - Version 6.3.3 by Troop Themes - http://troopthemes.com/ -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    {% if page_description %}
      <meta name="description" content="{{ page_description }}">
    {% endif %}

    {% include 'snippet-fb-open-graph-tags' %}

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com">

    {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    {% if template == 'index' %}
      <title>{{ page_title }}</title>
    {% elsif template == 'password' %}
      <title>{{ shop.name }}</title>
    {% else %}
      <title>{{ page_title }} | {{ shop.name }}</title>
    {% endif %}

    {{ content_for_header }}

    {% include 'framework--css-variables' %}
    {% include 'partial--css-variables' %}

    {{ "theme.css" | asset_url | stylesheet_tag }}
    {{ 'theme--customizations.css' | asset_url | stylesheet_tag }}

    {% include 'partial--js-variables' %}

    {{ 'lazysizes.min.js' | asset_url | script_tag }}

    {% if template contains 'customers' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}

    {{ "theme.min.js" | asset_url | script_tag }}

  
  {% render 'shogun-head' %}

	{{ shop.metafields.loox["global_html_head"] }}
  {% render 'judgeme_core' %}
</head>

  <body
    class="page-{{ page_title | handle }} {% if customer %}customer-logged-in {% endif %}template-{{ template | split: '.' | first | remove: '/' | remove: '_' }}"
    data-theme-id="606"
    data-theme-name="Blockshop"
    data-theme-version="6.3.3"
  >

    <div
      class="off-canvas--viewport"
      data-js-class="OffCanvas"
      data-off-canvas--state="closed"
    >
      <div class="off-canvas--overlay"></div>
      <div class="off-canvas--close">
        {% include 'framework--icons', icon: 'cross' %}
      </div>

      <div class="off-canvas--left-sidebar">
        {% include 'partial--mobile-nav' %}
      </div>

      <div class="off-canvas--right-sidebar">
        {% if settings.cart--type == 'drawer' %}
          {% include 'framework--cart', view: 'mobile' %}
        {% endif %}
      </div>

      <div class="off-canvas--main-content">
        {% section 'announcement' %}
        {% section 'header' %}

        <section class="main-content">
          {{ content_for_layout }}
        </section>

        {% section 'framework--footer' %}

        {% unless template == 'password' %}
          <div class="popup-modal-close">&#x2715;</div>
          <div class="popup-modal-mask"></div>
        {% endunless %}

        <!--<style> iframe#admin_bar_iframe { display: none !important; } </style>-->
      </div>

      {% include 'framework--feedback-bar' %}

      {% include 'partial--popup' %}

    </div>

    {% include 'framework--search', view: 'modal' %}

    {% include 'framework--modal' %}
  <!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install-v2" src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=15360"></script>
<script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End-->

	{{ shop.metafields.loox["global_html_body"] }}
</body>
</html>