{% assign show_mailing = section.settings.show-mailing-list %}
{% assign background_image = 'password-page-background.jpg' | asset_url %}
{% assign logo_height = section.settings.logo-height-range %}
{% if section.settings.logo %}
	{% assign logo = section.settings.logo %}
{% endif %}

{% capture shopify %}
	<a
		class="shopify-link"
		href="//www.shopify.com"
		target="_blank"
		title="Create your own online store with Shopify"
		rel="nofollow">
		{% include 'framework--icons', icon: 'shopify' %}
		<span class="hidden">Shopify</span>
	</a>
{% endcapture %}

<div
  class="password--root"
  data-section-id="{{ section.id }}"
  data-section-type="password"
	data-password--logo="{% if logo %}true{% else %}false{% endif %}"
  data-password--logo-height="{{ section.settings.logo-height-range }}"
  data-js-class="PasswordPage"
>

	<div class="password--background-image">
		{%
			include "framework--image",
			image_url: background_image,
			full_width: true
		%}
	</div>

  <div class="password--login">

    <a class="password--login-link font--accent" href="">
			{% include 'framework--icons', icon: 'lock' %}
			<p>{{ "general.password.login_link" | t }}</p>
		</a>

    <div class="password--login-form">
      {% form 'storefront_password', id: 'password_form' %}

        <div class="password--errors font--paragraph error">
					{{ form.errors | default_errors }}
        </div>
				<label class="font--accent" for="password">
					{{ "general.password.login_title" | t }}
				</label>

        <input type="password" id="password" name="password">

				<div class="password--button-container">
					<input
						class="font--button--inverted"
						type="submit"
						value="{{ 'general.password.login_button' | t | capitalize }}"
					>
					<div class="font--block-link--inverted">
						<a
							role="button"
							class="cancel" href="#"
						>
							{{ "general.password.login_cancel" | t }}
						</a>
					</div>
				</div>

      {% endform %}
    </div>

  </div>

	<div class="password--main">

		<a href="{{ shop.url }}" title="{{ shop.name }}" itemprop="url">
			{% if logo %}
				<div class="password--logo">
					{%
						include "framework--image",
						image: logo,
						full_width: false,
						max_height: logo_height
					%}
			{% else %}
					<div class="font--section-heading">{{ shop.name }}
				{% endif %}
			</div>
		</a>

		<h2 class="font--section-heading">{{ "general.password.title" | t }}</h2>

		{% if shop.password_message != blank %}
			<p class="font--paragraph">{{ shop.password_message }}</p>
		{% else %}
			<p class="font--paragraph">{{ "general.password.sub_title" | t }}</p>
		{% endif %}

		{% if show_mailing %}

			{% if section.settings.mailing-list--title != blank %}
				<div class="font--block-heading">
					{{ section.settings.mailing-list--title }}
				</div>
			{% endif %}

			<div class="password--mailing-list" id="newsletter">

				{% form 'customer', id: 'password_form' %}
					{% if form.posted_successfully? %}
						<p class="success font--paragraph">{{ 'general.mailing_list.success_message' | t }}</p>
					{% endif %}

					{% if form.errors %}
						<p class="error font--paragraph">
							{% for field in form.errors %}
								{{ field }} {{ form.errors.messages[field] }}
							{% endfor %}
						</p>
					{% endif %}

					<input type="hidden" name="contact[tags]" value="{{ source }}" />
					<input type="hidden" name="contact[first_name]" value="Newsletter" />
					<input type="hidden" name="contact[last_name]" value="Subscriber" />
					<label for="password-email" class="hidden">
						{{ 'general.mailing_list.placeholder' | t }}
					</label>
					<input
						aria-label="{{ 'general.mailing_list.placeholder' | t }}"
						type="email"
						id="password-email"
						placeholder="{{ 'general.mailing_list.placeholder' | t }}"
						name="contact[email]"
						required
					/>
					<span class="mailing-list--seperator"></span>
					<input
						type="submit"
						class="font--button--inverted prefix"
						value="{{ 'general.mailing_list.button' | t }}"
						name="subscribe"
					/>

					{% if form.posted_successfully? or form.errors %}
						<script>window.location.hash = '#feedback-bar--newsletter';</script>
					{% endif %}

				{% endform %}
			</div>

		{% endif %}



	</div>

</div>

{% schema %}
{
  "name": "Password page",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "label": "Custom logo height",
      "id": "logo-height-range",
      "type": "range",
      "min": 30,
      "max": 250,
      "step": 20,
      "unit": "px",
      "default": 50,
      "info": "This is referring to the natural height and should be half the height of the image you uploaded to ensure it stays sharp on retina screens."
    },
    {
      "type": "header",
      "content": "Mailing list"
    },
    {
      "type": "checkbox",
      "id": "show-mailing-list",
      "label": "Show form",
      "default": true
    },
    {
      "id": "mailing-list--title",
      "label": "Heading",
      "type": "richtext",
      "default": "<p>Sign up to our mailing list</p>"
    }
  ]
}
{% endschema %}