{% comment %} Variables {% endcomment %}
{% capture general_settings %}
  {{ settings.color--alternative }}
  {{ settings.color--accent }}
{% endcapture %}

{% include 'framework--background-colors', bg_color: section.settings.background-color %}

{% assign header_text_exists = true %}
{% if section.settings.title == blank and section.settings.subtitle == blank %}
  {% assign header_text_exists = false %}
{% endif %}

{% assign color_brightness = bg_color | color_brightness %}
{% assign dark_background = false %}
{% if color_brightness < 200 %}
  {% assign dark_background = true %}
{% endif %}

{% assign text_exists = true %}
{% if section.settings.title == blank and section.settings.description == blank %}
  {% assign text_exists = false %}
{% endif %}

{% assign cover_link = false %}
{% if section.settings.link-text == blank and section.settings.link-url != blank %}
  {% assign cover_link = true %}
{% endif %}

{% comment %} View {% endcomment %}
<div
  class="featured-content--root featured-content-new"
  data-section-id="{{ section.id }}"
  data-full-width="{{ section.settings.full-width }}"
  data-dark-background="{{ dark_background }}"
  data-overlap="{{ section.settings.overlap }}"
  data-transparent-overlap="{{ section.settings.transparent-overlap }}"
  data-text-exists="{{ text_exists }}"
  data-text-position="{{ section.settings.text-position }}"
  data-alternative-color="{{ section.settings.alternative-color }}"
  data-text-width="{{ section.settings.text-width }}"
  style="{% if bg_color %}background-color: {{ bg_color }};{% endif %}"
>
  {% if cover_link %}<a href="{{ section.settings.link-url }}">{% endif %}
  <div class="featured-content--container">
    <div class="featured-content--image">
      {% if section.settings.image %}
        {%
          include "framework--image",
          image: section.settings.image,
          full_width: true
        %}
      {% else %}
        {%
          include "framework--placeholder",
          type: "lifestyle",
          aspect_ratio: 1.45,
          placeholder_index: 2
        %}
      {% endif %}
    </div>

    {% if
      section.settings.title != blank or
      section.settings.description != blank or
      section.settings.link-text != blank
    %}
      <div class="featured-content--text">
        <div class="featured-content--text-container">
          {% if section.settings.title != blank %}
            <h2 class="featured-content--title font--section-heading">
              {{ section.settings.title | escape }}
            </h2>
          {% endif %}

          {% if section.settings.description != blank %}
            <div class="featured-content--description rte-content font--paragraph">
              {{ section.settings.description }}
            </div>
          {% endif %}
          {% if section.settings.title_2 != blank %}
            <h2 class="featured-content--title font--section-heading">
              {{ section.settings.title_2 | escape }}
            </h2>
          {% endif %}

          {% if section.settings.description_2 != blank %}
            <div class="featured-content--description rte-content font--paragraph">
              {{ section.settings.description_2 }}
            </div>
          {% endif %}

          {% if section.settings.link-text != blank %}
            <div class="featured-content--link font--block-link">
              <a href="{{ section.settings.link-url }}">
                {{ section.settings.link-text }}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}

    </div>
  {% if cover_link %}</a>{% endif %}

</div>

{% schema %}
{
  "name": "Image with Text 2",
  "settings": [
    {
      "type": "header",
      "content": "Layout and Color"
    },
    {
      "id": "full-width",
      "label": "Full width",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light grey", "value": "light" },
        { "label": "Dark", "value": "dark" },
        { "label": "Accent", "value": "accent" }
      ],
      "default": "light"
    },
    {
      "id": "text-position",
      "label": "Text Position",
      "type": "select",
      "options": [
        { "label": "Top", "value": "top" },
        { "label": "Bottom", "value": "bottom" },
        { "label": "Left", "value": "left" },
        { "label": "Center", "value": "center" },
        { "label": "Right", "value": "right" }
      ],
      "default": "left"
    },
    {
      "id": "text-width",
      "label": "Text width",
      "type": "radio",
      "options": [
        { "value": "small", "label": "Small"},
        { "value": "large", "label": "Large"}
      ],
      "default": "large"
    },
    {
      "id": "overlap",
      "label": "Overlap text",
      "type": "checkbox",
      "default": true,
      "info": "Not applicable for centered text"
    },
    {
      "id": "transparent-overlap",
      "label": "Transparent text background",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "alternative-color",
      "label": "Use alternative text color",
      "type": "checkbox",
      "default": false,
      "info": "This can found under theme settings below."
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Image with text"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Text",
      "default": "<p>Use a combination of image and text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store</p>"
    },
    {
        "type": "text",
        "id": "title_2",
        "label": "Heading 2",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "description_2",
        "label": "Text 2",
        "default": "<p>Use a combination of image and text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store</p>"
      },
    {
      "type": "url",
      "id": "link-url",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "link-text",
      "label": "Link text"
    }
  ],
  "presets": [
    {
      "name": "Image with Text 2",
      "category": "Image"
    }
  ]
}
{% endschema %}