<div class="row{% if settings.pages--center-content--enabled %} center{% endif %}">

  <div class="row">
    <div class="columns">
       <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6">
      <div class="page-content rte-content">

        {{ page.content }}
      </div>
    </div>

    <div class="columns large-6 push-1  ">
      {% form 'contact', id: 'contact_page_form' %}

        {% if form.posted_successfully? %}
        <div class="success feedback accent-text">
          <p>{{ 'contact_page.success_feedback' | t }}</p>
        </div>
        {% endif %}

        {% if form.errors %}
        <div class="error feedback accent-text">
          <p>{{ 'contact_page.error_feedback' | t }}:</p>
          <ul>
          {% for field in form.errors %}
            <li>
              {{ field | capitalize | replace: 'Body', 'Message' }} {{ form.errors.messages[field] }}
            </li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% unless form.posted_successfully? %}

          <label for="contactFormName">{{ 'contact_page.name' | t }}:</label>
          <input
            class="styled-input{% if form.errors contains 'name' %} error{% endif %}"
            type="text"
            id="contactFormName"
            name="contact[name]"
            value="{{ contact.fields.name }}"
          />

          <label for="contactFormEmail">{{ 'contact_page.email' | t }}:</label>
          <input
            class="styled-input{% if form.errors contains 'email' %} error{% endif %}"
            type="email"
            id="contactFormEmail"
            name="contact[email]"
            value="{{ contact.fields.email }}"
            required
          />
          <label for="contactFormTelephone">{{ 'contact_page.phone' | t }}:</label>
          <input
            class="styled-input{% if form.errors contains 'phone' %} error{% endif %}"
            type="tel"
            id="contactFormTelephone"
            name="contact[phone]"
            value="{{ contact.fields.phone }}"
          />
          <label for="contactFormMessage">{{ 'contact_page.message' | t }}:</label>
          <textarea
            class="styled-input{% if form.errors contains 'body' %} error{% endif %}"
            rows="10"
            cols="60"
            id="contactFormMessage"
            name="contact[body]"
            required
          >{{ contact.fields.body }}</textarea>
          <div class="contact-page--submit-button">
            <input
              class="font--button"
              type="submit"
              id="contactFormSubmit"
              value="{{ 'contact_page.button' | t }}"
            />
          </div>

        {% endunless %}

        {% if form.posted_successfully? or form.errors %}
          <script>
            window.location.hash = '#page-content';
          </script>
        {% endif %}

      {% endform %}

    </div>
  </div>

</div>

